<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
</head>
<body>
    Welcome {{request.user}}
    <br>
    <br>
    <br>
    <a href="/load_data">Load data from Sample data Set</a>
    <br>
    <br>
    <br>
    Select the tables to view their data
    <br>
    <br>
    <a href="/emp_event">Employee events</a>
    <br>
    <a href="/employee_email">Employee emails</a>
    <br>
    <a href="/event_data">Types of Events</a>
    <br>
    <a href="/event_log">Event logs</a>
    <br>
    <a href="/event_email_status">Event email status</a>
    <br>
    <a href="/system_log">System logs</a>

</body>
</html>